*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    flex-direction: column;
}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background-color: #f1f1f1; */
    width: 200px;
    height: 200px;
    margin: 0 20px;
    border-radius: 50%;
    color: #f1f1f1;
}
button{
    padding: 10px 20px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: red;
    color: #f1f1f1;
    font-size: 18px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    &:hover{
        background-color: #cc0029;
    }
}